* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  background: black;
  color: white;
}
#canvas {
  margin: auto;
  touch-action: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 30em;
    appearance: none;
    outline: none;
    &::-webkit-slider-runnable-track {
      background: wheat;
      height: 5px;
      border-radius: 50px;
    }
    &::-webkit-slider-thumb {
      appearance: none;
      cursor: grab;
      background: rgb(231, 111, 42);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transform: translateY(-38%);
      transition: all ease 100ms;
    }
  }

  section {
    font-size: 1.95em;
    text-align: center;
    position: fixed;
    top: 5%;
    p {
      padding: 3px 24px 6px 24px;
      text-align: center;
      backdrop-filter: blur(10px);
    }
  }

  .active {
    display: inline;
  }
  p {
    display: none;
  }
}
